/* import google fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset default css */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --light-dark-color: #54a0ff;
  --dark-color: #2e86de;
  --black-color: #222f3e;
  --light-color: #f8f7f5;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: var(--white-color);
  background-color: var(--light-dark-color);
}

/* header css */

header {
  background-color: var(--dark-color);
  height: 64px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

h3 {
  color: var(--white-color);
  font-size: 25px;
  font-weight: 700;
}

/* drinks Search Box */

.container {
  width: 1200px;
  margin: 0 auto;
}

.drinks__search__container {
  width: 100%;
  max-width: 570px;
  margin: 100px auto 50px auto;
  display: flex;
  align-items: stretch;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.drinks__search__container::before {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  left: 15px;
  width: 24px;
  height: 24px;
  background: url(../icons/search.svg) no-repeat center center / contain;
}

#drinks__search__input {
  border: 2px solid transparent;
  background-color: var(--light-color);
  padding: 18px 18px 18px 50px;
  width: calc(100% - 100px);
  font-family: inherit;
}

#drinks__search__input::placeholder {
  color: #989898;
}

#drinks__search__input:focus {
  outline: 0;
  border: 2px solid var(--dark-color);
}

#drinks__search__button {
  background-color: var(--dark-color);
  border: 0;
  color: var(--white-color);
  padding: 15px 20px;
  width: 100px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  font-family: inherit;
}

/* spinner css */

#spinner {
  text-align: center;
  height: 450px;
}

#spinner img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

/* drinks container css */

#drinks__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 10px;
}

.card img {
  border-radius: 10px;
  width: 100%;
}

.card h3 {
  color: var(--dark-color);
  text-align: center;
  font-size: 22px;
  padding: 20px 0;
  font-weight: 700;
}

/* drinks details */

#drinks__detail {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  display: none;
  position: fixed;
  animation: 1s fadedAnimation ease-in-out;
}

@keyframes fadedAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  height: 90vh;
  width: 90vw;
  margin: 5vh auto;
  overflow: auto;
  background-color: #f8f7f5;
  border-radius: 10px;
}

.modal__image {
  height: 500px;
  position: relative;
}

.modal img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cross__icon {
  padding: 5px 12px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: red;
  backdrop-filter: blur(10px);
  font-size: 40px;
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 50%;
  cursor: pointer;
}

.modal__content {
  padding: 20px;
}

.modal__content h4:nth-child(1) {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.modal__content h4 {
  color: var(--light-dark-color);
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
}

.modal__content p {
  color: var(--black-color);
  text-align: justify;
}

.modal ul {
  list-style-type: none;
}

.modal ul li {
  color: var(--black-color);
  font-size: 18px;
  margin: 10px 0;
  font-weight: 600;
}

.modal ul li::before {
  content: "\f14a";
  font-family: fontawesome;
  margin-right: 15px;
  color: var(--dark-color);
}

.modal::-webkit-scrollbar {
  background-color: var(--light-color);
  width: 10px;
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 10px;
}

.copyright {
  margin: 50px 0 0 0;
  float: right;
  padding-bottom: 20px;
}

.copyright a {
  color: var(--dark-color);
  font-weight: 800;
  letter-spacing: 3px;
}

.display__none {
  display: none;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 92vw;
  }
}

@media only screen and (max-width: 768px) {
  #drinks__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  #drinks__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
